/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.no-mrg
{
    margin: 0 !important;
    padding: 0 !important;
}

.chat-massages
{
    background: #dedef5 none repeat scroll 0 0;
    border: 1px solid #dedede;
    height: 300px;
    overflow: auto;
    width: 100%;
    
}

.chat-action-box{
    border: 1px solid #dedede;
    overflow: hidden;
}
textarea#sendMessage
{
    border: none;
}

.nd-bubble-r
{
    background: #d9edf7;
    width: 50%;
    float: right;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    margin: 5px 10px 5px 0;
    border-color: #bce8f1;
}
.nd-bubble-l
{
     background: #fcf8e3 none repeat scroll 0 0;
    border-color: #faebcc;
    border-radius: 15px;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 15px;
    width: 50%;
}

.ndpd-col12 {
    float: left;
    margin: 0;
    width: 60px;
}

img.nd-chat-img {
    border-radius: 50%;
    height: 50px;
    margin: 5px 0 0 5px;
    width: 50px;
}

.clr{
    clear: both;
}

.nd-name {
    font-size: 12px;
    font-weight: bold;
    padding: 0 9px 0 71px;
}

